

      <p>
        <b>list_name:</b><br>
        <%=editablefieldcreate("list_name", @todo_list)%>
      </p>



      <p>
        <b>list_description:</b><br>
        <%=editablefieldcreate("list_description", @todo_list)%>
      </p>



      