

      <p>
        <b>name:</b><br>
        <%=editablefieldcreate("name", @user)%>
      </p>



      <p>
        <b>hashed_password:</b><br>
        <%=editablefieldcreate("hashed_password", @user)%>
      </p>



      <p>
        <b>salt:</b><br>
        <%=editablefieldcreate("salt", @user)%>
      </p>


      